
@{
    ViewData["Title"] = "Bank Account List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    * {
        font-family: Inter;
        font-style: normal;
    }

    .btn-filter {
        padding: 3px !important;
        font-size: .90rem !important;
        width: 4.90em !important;
    }

    .w-80 {
        width: 80% !important;
    }

    #category thead {
        background: #F4F2FF;
    }

        #category thead th {
            font-family: Inter;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            /* identical to box height */
            letter-spacing: 0.05em;
            text-transform: uppercase;
            /* Fonts/Primary Variant */
            color: #6E6893;
        }

    .table-data-font {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        /* Fonts/Primary */
        color: #25213B;
    }

    .table-data-font-sm {
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        letter-spacing: 0.05em;
        /* Fonts/Primary Variant */
        color: #6E6893;
    }

    .badge-success {
        background-color: #CDFFCD;
        color: #007F00 !important;
    }

    .badge-default {
        background: #E6E6F2;
        border-radius: 30px;
    }

    .badge-danger {
        background: #FFE0E0;
        color: #D30000 !important;
    }

    .badge-warning {
        background: #FFECCC;
        color: #965E00 !important;
    }

    #category tfoot {
        background: #F4F2FF;
        transform: matrix(1, 0, 0, 1, 0, 0);
        height: 45px;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */

        letter-spacing: 0.05em;
        /* Fonts/Primary Variant */

        color: #6E6893;
    }

        #category tfoot select {
            background-color: transparent;
            border: none;
        }
</style>
<div class="card" ng-controller="AccountingObjectBankAccountController" ng-init="GetAll('@ViewBag.AccountingObjectID')">
    <div class="card-body pt-2 p-0 m-0">
        <div class="row">
            <div class="col-1 pl-3 ">
                <button class="btn border bg-gradient-light btn-light btn-xs btn-block btn-filter p-1 m-0" type="button"><i class="fas fa-filter"></i>&nbsp; Filter</button>
            </div>
            <div class="col-5 pl-3 ">
                <div class="input-group mb-3">
                    <div class="input-group-prepend border-0">
                        <span class="input-group-text border-0 bg-gray-200" id="basic-addon1"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" class=" w-80 form-control-sm bg-gray-200 border-0" placeholder="Search by name" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-6 pr-3 pl-3 text-right">
                @*<a href="/CustomerSupplier/Index" class="text-white btn bg-gradient-dark btn-xs btn-filter mr-2" type="button"><i class="fas fa-backspace"></i>&nbsp;Back</a>*@
                <a href="/AccountingObjectBankAccount/Create/@ViewBag.accountingObjectID" class="text-white btn bg-gradient-info btn-xs btn-filter mr-2" type="button"><i class="fas fa-plus-circle"></i>&nbsp;Add</a>
                @*<button title="Export To Excel" ng-click="ExportToExcel('@ViewBag.accountingObjectID')" class="text-white btn bg-gradient-primary btn-xs btn-filter" type="button"><i class="fas fa-file-excel"></i>&nbsp;Export</button>*@
                
            </div>
        </div>
        <div class="table-responsive">
            <table id="category" class="table table-sm">
                <thead>
                    <tr>                      
                        <th>Acccount Number</th>
                        <th>Bank Name</th>
                        <th>Branch Name</th>
                        <th>Account Name</th>                     
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody style="background-color:white;">
                    <tr ng-repeat="item in AllDataList">                      
                        <td>
                            <span class="table-data-font">{{item.bankAccount}}</span><br />
                        </td>
                        <td>
                            <span class="table-data-font">{{item.bankName}}</span><br />
                        </td>
                        <td>
                            <span class="table-data-font">{{item.bankBranchName}}</span><br />
                        </td>
                        <td>
                            <span class="table-data-font">{{item.accountHolderName}}</span><br />
                        </td>                        
                        <td>
                            <a href="/AccountingObjectBankAccount/Edit/{{item.id}}" class="text-white btn bg-gradient-success btn-xs btn-filter mr-2" type="button"><i class="fas fa-edit"></i>&nbsp;Edit</a>
                            <a href="/AccountingObjectBankAccount/Delete/{{item.id}}" class="text-white btn bg-gradient-danger btn-xs btn-filter mr-2" type="button"><i class="fas fa-trash"></i>&nbsp;Delete</a>
                        </td>

                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right" style=" padding-top: 1rem;">
                            <span>Rows per page:</span>
                            <select>
                                <option>10</option>
                                <option>25</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </td>
                        <td class="text-right" style=" padding-top: 1rem;">
                            1-10 of 276
                        </td>
                        <td class="text-right">
                            <button type="button" class="btn btn-flat btn-xs bg-transparent">
                                <i class="fas fa-angle-left mr-3"></i>
                            </button>
                            <button type="button" class="btn btn-flat btn-xs bg-transparent">
                                <i class="fas fa-angle-right"></i>
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>



    </div>
</div>
@section Scripts{
    <script src="~/js/angularjsservices/accountingobjectbankaccountservice.js"></script>
} 